.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;  
    color: thistle;

}
.inner-wrapper{
    margin-top: 5rem;
    padding-right: 5rem;
    text-align: center;
    border-bottom: 5px solid rgb(248, 96, 253);
    position: relative;
    z-index: 5;
    margin-top: 30vh;
}
.name{
    padding: 0;
    font-size: 4rem;
    font-weight: 800;
    text-transform: uppercase;
    font-family: 'Berkshire Swash', cursive;
    animation: answer 1.5s;
    letter-spacing: 5px;
    margin: 0.5em;
    background: linear-gradient(to right,#905EA1,#f8a5df);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.prob{
    font-size: 2rem;
    font-weight: 700;
    animation: 2s answer2;
    margin-bottom: 0.5em;
}
.inner-wrapper-two{
    padding-right: 5rem;
    text-align: center;
}
.name2{
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 1em;
}

@keyframes answer{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(3);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes answer2{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@media screen and (min-width: 1020px){
    .inner-wrapper{
        margin-top: 0;
    }
}