.container{
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 1em;
    margin-top: 3em;
}

.heading1{
    font-size: 65px;
    font-weight: 800;
    text-transform: uppercase;
    font-family: 'Holtwood One SC', serif;
    z-index: 2;
    background: linear-gradient(to right,#a15e83,#E58CCB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.container div:nth-child(1){
    width: 70%;
}
.container div:nth-child(2){
    margin-top: 2em;
}
.caption{
    font-size: 1.3rem;
    color: #C8C5D9;
}
.btn3{
    font-size: 1.8rem;
    text-decoration: none;
    text-transform: uppercase;
    background: linear-gradient(to bottom,wheat,#fd7f94);
    color: #000;
    padding: 0.4em 1.2em;
    border-radius: 20px;
    box-shadow: 0 6px #f80958;
    scroll-behavior: smooth;
    transition: all 250ms ease;
}
.btn3:hover {
    letter-spacing: 3px;
  }
@media screen and (min-width: 992px){
    .heading1{
        font-size: 3.8rem;
    }
    .container{
        height: 60%;
    }
}