.howto{
    position: absolute;
    left: 0%;
    z-index: 999;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 12vh;
}
.icon{
    margin: 0.8em;
}
.icon1{
    color: #ff6347;
    background: wheat;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
    }
.icon1 p{
    font-size: 2rem;
    font-weight: bolder;
}
.icon1:hover{
    transform: scale(1.1);
}
.icon2{
    display: grid;
    place-items: center;
    cursor: pointer;
}
.icon2 p{
    font-size: 3rem;
    font-weight: bolder;
    background: transparent;
    color: rgb(151, 5, 151);
    justify-self: end;
    transition: transform 1s ease-in-out;
}
.navbar{
    display: grid;
    grid-template-rows: 5% 10% 20% auto;
    grid-row-gap: 1rem;
    background: linear-gradient(to right,#47ffb8,#4cc093);
    overflow: auto;
    width: 500px;
    opacity: 0.85;
    padding: 1em;
    transition: all 0.5s;
    border-radius: 10px;
    position: absolute;
    left: -500px;

}
.navbar h1{
    font-family: 'Cinzel Decorative', cursive;
    justify-items: flex-start;
    font-size: 3rem;
}
.navbar div:nth-child(3){
    display: grid;
    margin-top: 20vh;
}
.navbar ul{
    list-style: none;
    text-align: left;
}
.navbar ul li {
    font-size: 1.5rem;          
    padding: 1em;
}
.footer{
    display: grid;
    place-items: center;
    border-radius: 10px;
    backdrop-filter: blur(20px);
}
.footer a{
    margin-top: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
}
.icon1[data-tool-tip] {
    position: relative;
  }
  
.icon1[data-tool-tip]::after {
    content: attr(data-tool-tip);
    display: block;
    position: absolute;
    padding: 0.7em 0.7em;
    color: white;
    background: black;
    border-radius: 5px;
    font-size: 1em;
    bottom: -50px;
    left: 0px;
    white-space: nowrap;
    transform: scale(0);
    transition:
      transform ease-out 150ms,
      bottom ease-out 150ms;
  }
  
.icon1[data-tool-tip]:hover::after {
    transform: scale(1);
  }
  
@media only screen and (max-width: 992px){
    .icon{
        transform: scale(0.6);
    }
}
