@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');

.wrapper{
    display: grid;
    justify-content: center;
    margin: 15px;
}
.para{
    font-size: 2rem;
    font-family: 'Cinzel Decorative', cursive;
    margin-bottom: 15px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: rgb(65, 2, 117);
}
.samples{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
    grid-gap: 35px;
}
.samples div{
    width: 200px;
    height: 262px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
}

.samples div img{
    width: 200px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    filter: none;
    transition: all 0.6s;
}
.samples div img:hover{
    filter: contrast(125%);
}
.selectText{
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    max-width: 20px;
    height: fit-content;
    margin-right: 5px;
}
.selectText p{
    font-size: 1.25rem;
    background: #bd00ec;
    width: fit-content;
    height: fit-content;
    clip-path: circle();
}
@media screen and (min-width: 992px){
    .samples{
        display: flex;
    }
}
@media(min-width: 725px){
    .samples{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media(min-width: 580px){
    .samples{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media(min-width: 350px){
    .samples{
        grid-template-columns: repeat(2, 1fr);
    }
}